@import '~react-image-gallery/styles/css/image-gallery.css';

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Humanbumsuk';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@keyframes smoothAppear {
    from {
      opacity: 0;
      transform: translateY(-10%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes smoothDisappear {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-10%);
    }
}

body {background-color: #282c34; margin: 0px;}
button{font-family: GmarketSansMedium;}
button:disabled {opacity:0.4;}

.container {text-align: center; font-size: calc(12px + 1vmin); font-weight: 500; font-family: GmarketSansMedium; max-width: 500px; margin: auto; background-color: #f8f9fb;}

.content .title{font-size: 1.2rem;}

/* home */
.home .title img{width: 100%;}
.home .location{font-size: 1.1rem}
.grid .square {border: 1px solid #ec6c61; border-left: 0px; padding: 2px;}

.cursive {font-family: Humanbumsuk; color: #fff; font-weight: 100; -ms-transform: rotate(340deg); -webkit-transform: rotate(340deg); transform: rotate(340deg); display: flex; flex-direction: column;}

/* place */
.container .place {padding: 10%}
.place .map {height: 240px; margin: 20px auto;}
.place .address{display: flex; flex-direction: column; font-size: .9rem;} 
.customoverlay {position: relative; top: 50px; border-radius: 6px; border: 1px solid #ccc; border-bottom: 2px solid #ddd; float: left;}
.customoverlay:nth-of-type(n) {border: 0; box-shadow: 0px 1px 2px #888;}
.customoverlay a { display: block; text-decoration: none; color: #000; text-align: center; border-radius: 6px; overflow: hidden; background: #f0ab00;
    background: #f0ab00 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
.customoverlay .tag {display: block; text-align: center; background: #fff; margin-right: 35px; padding: 5px 10px; font-size: .9rem;}
.customoverlay:after {content: ''; position: absolute; margin-left: -12px; left: 50%; top: -12px; width: 22px; height: 12px; 
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png');
    -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg);}
.place .transportation{font-size: .9rem; text-align: left;}
.place .transportation .transBox{margin: 15px 5px}
.place .transportation .means{font-size: 1rem;}


/* gallery */
.container .gallery {margin: 10%}


/* account */
.account .accountBox{padding: 0 10%; margin: 2% 0}
.account .button.arrow{width: 100%; display:flex; margin:0 auto; align-items:center; justify-content: center; position: relative; height: 40px; padding: 0 20px; border: none; border-radius: 10px; background: #fff; color:#000; cursor: pointer; font-size: .9rem; box-shadow: 0 3px 3px rgb(0 0 0 / 10%); }
.account .button.arrow .icon::after{content:''; font-size:0; display:block; width:13px; height:8px; background:url(../src/assets/img/icon_arrowDown.svg)no-repeat;}
.account .button.arrow .plus{transform: rotate(180deg); padding:0 10px 0 0; }
.account .button.arrow .minus{ padding:0 0 0 10px; }

.accordionBox{padding:1px 10px ; border:none; border-radius: 10px; background-color: #f1f2f4;}
.accordionBox.plus .accordion:nth-child(2){animation: smoothAppear 0.3s;}
.accordionBox.plus .accordion:nth-child(3){animation: smoothAppear 0.5s;}
.accordionBox.minus .accordion:nth-child(3){animation: smoothDisappear 0.4s;}
.accordionBox.minus .accordion:nth-child(2){animation: smoothDisappear 0.4s; animation-delay: 0.1s;}
.accordionBox.minus .accordion:nth-child(1){animation: smoothDisappear 0.4s; animation-delay: 0.2s;}
.accordion{display:flex; margin: 10px 0; padding: 10px; justify-content:space-between; align-items:center; border: none; border-radius: 10px; background: #fff; box-shadow: 0 3px 3px rgb(0 0 0 / 10%); }
.accordion .accordionInfo{display: flex; justify-content: left; font-size: 0.8rem; flex-direction: column; text-align: left;}
.accordion .accordionInfo .accountInfo{display: flex; padding: 0 0 5px 0}
.accordion .accordionInfo .bank{padding: 0 5px 0 0}

.accordion .buttonWrap{display:flex; flex-direction: column; color: #000; font-size: .8rem;}
.accordion .buttonWrap button{border:none; cursor: pointer; display: flex; width:70px; height:25px; border-radius: 15px; background-color: #f0f1f3; align-items:center; justify-content: center; margin:2px; color: #000; padding:5px}
.accordion .buttonWrap button:hover {background:#f5f5f5; text-decoration:underline;}
.accordion .buttonWrap button:active {background:#ccc; text-decoration:none; box-shadow:inset 0 0 0 3px #337ab7;}

.accordion .buttonWrap .complete{display:flex; align-items: center; justify-content: center; background-color: #fff; color: #337ab7; width: 70px; height: 25px; padding:2px}
.accordion .buttonWrap .kakao{background-color: #fbdf1d;}
.accordion .buttonWrap .kakao img{width:70px; height:15px; object-fit: contain;}