@import '~react-image-gallery/styles/css/image-gallery.css';

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'Chosunilbo_myungjo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {background-color: #282c34; margin: 0px;}
button{font-family: GangwonEdu_OTFBoldA; font-weight: bold; color: #444;}
button:disabled {opacity:0.4;}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.container {text-align: center; font-size: calc(15px + 1vmin); font-family: GangwonEdu_OTFBoldA; color: #333; max-width: 500px; margin: auto; background-color: #f8f9fb;}

.content .title{font-size: 1.5rem; display:flex; justify-content: center;}
.content .title::before{content:''; margin-right: 5%; font-size:0; display:block; width:24px; height:24px; background:url(../src/assets/img/green-tea.png)no-repeat;}
.content .title::after{content:''; margin-left: 5%;  font-size:0; display:block; width:24px; height:24px; background:url(../src/assets/img/green-tea.png)no-repeat; transform: scaleX(-1);}
.content .ref{font-size: .9rem; margin: 7% 0; display: flex; align-items: center; justify-content: center;}
.content .ref::before{content:''; margin-bottom: 4px; font-size:0; display:block; width:20px; height:16px; background:url(../src/assets/img/flower.png)no-repeat;}
.content .ref .route{display: flex;  align-items: center}
.content .ref .route .guest{min-width: 60px;}

/* home */
.home{padding: 10% 0}
.home .name{font-size: 2rem; margin-bottom: 5%; display: flex; justify-content: center}
.home .name .heart{display: flex; justify-content: center; width: 100%;}
.home .name .tag{width: 100%; font-weight: bold;}
.home .name img{object-fit: contain;}
.home .title img{width: 100%;}
.home .location{font-size: 1.4rem; padding: 5% 0;}
.grid .square {border: 1px solid #ec6c61; border-left: 0px; padding: 2px;}

/* place */
.container .place {padding: 6%}
.place .map {height: 240px; margin: 20px auto;}
.place .address{display: flex; flex-direction: column; font-size: 1rem;} 
.customoverlay {position: relative; top: -50px; border-radius: 6px; border: 1px solid #ccc; border-bottom: 2px solid #ddd; float: left;}
.customoverlay:nth-of-type(n) {border: 0; box-shadow: 0px 1px 2px #888;}
.customoverlay a { display: block; text-decoration: none; color: #000; text-align: center; border-radius: 6px; overflow: hidden; background: #f0ab00;
    background: #f0ab00 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
.customoverlay .tag {display: block; text-align: center; background: #fff; margin-right: 35px; padding: 5px 10px; font-size: .7rem; font-weight: bold;}
.customoverlay:after {content: ''; position: absolute; margin-left: -8px; left: 52%; top: 20px; width: 22px; height: 12px; 
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png');}
.place .transportation{font-size: .9rem; text-align: left; width: fit-content; margin:auto} 
.place .transportation .transBox{margin: 15px 5px}
.place .transportation .means{font-size: 1.2rem; font-weight: bold;}
.place .transportation .desc{margin:5px; font-weight: bold;}

/* information */
.container .information {margin: 10% 6%;}
.information img{width: 100%;}
.information .info{width: 90%; margin:auto; font-weight: bold;}
.information dl{margin: 2%; padding:2%; font-size: 1rem; display: flex;}
.information dl dt{width: 20%;}
.information dl dd{display: flex; width: 100%; align-items: flex-start; flex-direction: column;}
.information dl dd span{font-size: .9rem; color:#777; margin-top: 2%;}
.information .floor{border-bottom: 1px solid #bbb;}

/* gallery */
.container .gallery {margin:20% 6%}
.image-gallery-thumbnail .image-gallery-thumbnail-image{opacity: 0.5; cursor: pointer; border-radius: 20px;}
.image-gallery-thumbnail.active .image-gallery-thumbnail-image{opacity: 1;}
.image-gallery-icon{color:#fff;transition:all .3s ease-out;appearance:none;background-color:transparent;border:0;cursor:pointer;outline:none;position:absolute;z-index:4;filter:drop-shadow(0 2px 2px #1a1a1a)}
@media(hover: hover)and (pointer: fine){
  .image-gallery-icon:hover{color:#444}
  .image-gallery-icon:hover .image-gallery-svg{transform:scale(1.1)}
}
.image-gallery-icon:focus{outline:2px solid #444}
.image-gallery-using-mouse .image-gallery-icon:focus{outline:none}
.image-gallery-fullscreen-button,.image-gallery-play-button{bottom:0;padding:20px}
.image-gallery-fullscreen-button .image-gallery-svg,.image-gallery-play-button .image-gallery-svg{height:28px;width:28px}
@media(max-width: 768px){
  .image-gallery-fullscreen-button,.image-gallery-play-button{padding:15px}
  .image-gallery-fullscreen-button .image-gallery-svg,.image-gallery-play-button .image-gallery-svg{height:24px;width:24px}
}@media(max-width: 480px){
  .image-gallery-fullscreen-button,.image-gallery-play-button{padding:10px}
  .image-gallery-fullscreen-button .image-gallery-svg,.image-gallery-play-button .image-gallery-svg{height:16px;width:16px}
}
.image-gallery-fullscreen-button{right:0}
.image-gallery-play-button{left:0}
.image-gallery-left-nav,.image-gallery-right-nav{padding:50px 10px;top:50%;transform:translateY(-50%)}
.image-gallery-left-nav .image-gallery-svg,.image-gallery-right-nav .image-gallery-svg{height:120px;width:60px}
@media(max-width: 768px){
  .image-gallery-left-nav .image-gallery-svg,.image-gallery-right-nav .image-gallery-svg{height:72px;width:36px}
}
@media(max-width: 480px){
  .image-gallery-left-nav .image-gallery-svg,.image-gallery-right-nav .image-gallery-svg{height:48px;width:24px}
}
.image-gallery-left-nav[disabled],.image-gallery-right-nav[disabled]{cursor:disabled;opacity:.6;pointer-events:none}
.image-gallery-left-nav{left:0}.image-gallery-right-nav{right:0}
.image-gallery{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0);position:relative}
.image-gallery.fullscreen-modal{background:#000;bottom:0;height:100%;left:0;position:fixed;right:0;top:0;width:100%;z-index:5}
.image-gallery.fullscreen-modal .image-gallery-content{top:50%;transform:translateY(-50%)}
.image-gallery-content{position:relative;line-height:0;top:0}
.image-gallery-content.fullscreen{background:#000}
.image-gallery-content .image-gallery-slide .image-gallery-image{max-height:calc(100vh - 80px)}
.image-gallery-content.left .image-gallery-slide .image-gallery-image,.image-gallery-content.right .image-gallery-slide .image-gallery-image{max-height:100vh}
.image-gallery-slide-wrapper{position:relative}
.image-gallery-slide-wrapper.left,.image-gallery-slide-wrapper.right{display:inline-block;width:calc(100% - 110px)}
@media(max-width: 768px){
  .image-gallery-slide-wrapper.left,.image-gallery-slide-wrapper.right{width:calc(100% - 87px)}
}
.image-gallery-slide-wrapper.image-gallery-rtl{direction:rtl}
.image-gallery-slides{line-height:0;overflow:hidden;position:relative;white-space:nowrap;text-align:center}
.image-gallery-slide{left:0;position:absolute;top:0;width:100%}
.image-gallery-slide.center{position:relative}
.image-gallery-slide .image-gallery-image{width:100%;object-fit:contain}
.image-gallery-slide .image-gallery-description{background:rgba(0,0,0,.4);bottom:70px;color:#fff;left:0;line-height:1;padding:10px 20px;position:absolute;white-space:normal}
@media(max-width: 768px){
  .image-gallery-slide .image-gallery-description{bottom:45px;font-size:.8em;padding:8px 15px}
}
.image-gallery-bullets{bottom:20px;left:0;margin:0 auto;position:absolute;right:0;width:80%;z-index:4}
.image-gallery-bullets .image-gallery-bullets-container{margin:0;padding:0;text-align:center}
.image-gallery-bullets .image-gallery-bullet{appearance:none;background-color:transparent;border:1px solid #fff;border-radius:50%;box-shadow:0 2px 2px #1a1a1a;cursor:pointer;display:inline-block;margin:0 5px;outline:none;padding:5px;transition:all .2s ease-out}
@media(max-width: 768px){
  .image-gallery-bullets .image-gallery-bullet{margin:0 3px;padding:3px}
}
@media(max-width: 480px){
  .image-gallery-bullets .image-gallery-bullet{padding:2.7px}
}
.image-gallery-bullets .image-gallery-bullet:focus{transform:scale(1.2);background:#444;border:1px solid #444}
.image-gallery-bullets .image-gallery-bullet.active{transform:scale(1.2);border:1px solid #fff;background:#fff}
@media(hover: hover)and (pointer: fine){
  .image-gallery-bullets .image-gallery-bullet:hover{background:#444;border:1px solid #444}
  .image-gallery-bullets .image-gallery-bullet.active:hover{background:#444}
}
.image-gallery-thumbnails-wrapper{position:relative}
.image-gallery-thumbnails-wrapper.thumbnails-swipe-horizontal{touch-action:pan-y}
.image-gallery-thumbnails-wrapper.thumbnails-swipe-vertical{touch-action:pan-x}
.image-gallery-thumbnails-wrapper.thumbnails-wrapper-rtl{direction:rtl}
.image-gallery-thumbnails-wrapper.left,.image-gallery-thumbnails-wrapper.right{display:inline-block;vertical-align:top;width:100px}
@media(max-width: 768px){
  .image-gallery-thumbnails-wrapper.left,.image-gallery-thumbnails-wrapper.right{width:81px}
}
.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails,.image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails{height:100%;width:100%;left:0;padding:0;position:absolute;top:0}
.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail,.image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail{display:block;margin-right:0;padding:0}
.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail+.image-gallery-thumbnail,.image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail+.image-gallery-thumbnail{margin-left:0;margin-top:2px}
.image-gallery-thumbnails-wrapper.left,.image-gallery-thumbnails-wrapper.right{margin:0 5px}
@media(max-width: 768px){
  .image-gallery-thumbnails-wrapper.left,.image-gallery-thumbnails-wrapper.right{margin:0 3px}
}
.image-gallery-thumbnails{overflow:hidden;padding:5px 0}
@media(max-width: 768px){
  .image-gallery-thumbnails{padding:3px 0}
}
.image-gallery-thumbnails .image-gallery-thumbnails-container{cursor:pointer;text-align:center;white-space:nowrap}
.image-gallery-thumbnail{display:inline-block;border:none; border-radius: 20px;transition:border .3s ease-out;width:100px;background:transparent;padding:0}
@media(max-width: 768px){
  .image-gallery-thumbnail{border:none;width:81px}
}
.image-gallery-thumbnail+.image-gallery-thumbnail{margin-left:2px}
.image-gallery-thumbnail .image-gallery-thumbnail-inner{display:block;position:relative; padding:2px}
.image-gallery-thumbnail .image-gallery-thumbnail-image{vertical-align:middle;width:100%;line-height:0}
.image-gallery-thumbnail.active{outline: none; border:none}
.image-gallery-thumbnail:focus{outline:none;border: 2px solid; border-radius: 20px;}
@media(max-width: 768px){
  .image-gallery-thumbnail.active{outline: none; border:none}
  .image-gallery-thumbnail:focus{border:2px solid; border-radius: 20px;}
}
@media(hover: hover)and (pointer: fine){
  .image-gallery-thumbnail:hover{outline:none;border:2px solid; border-radius: 20px;}
}
@media(hover: hover)and (pointer: fine)and (max-width: 768px){
  .image-gallery-thumbnail:hover{border:2px solid; border-radius: 20px;}
}
.image-gallery-thumbnail-label{box-sizing:border-box;color:#fff;font-size:1em;left:0;line-height:1em;padding:5%;position:absolute;top:50%;text-shadow:0 2px 2px #1a1a1a;transform:translateY(-50%);white-space:normal;width:100%}
@media(max-width: 768px){.image-gallery-thumbnail-label{font-size:.8em;line-height:.8em}}
.image-gallery-index{background:rgba(0,0,0,.4);color:#fff;line-height:1;padding:10px 20px;position:absolute;right:0;top:0;z-index:4}
@media(max-width: 768px){.image-gallery-index{font-size:.8em;padding:5px 10px}}

/* family */
.container .family {padding: 10% 0; margin-bottom: 20%; background-color: #eee; box-shadow: 1px 1px 3px rgb(0 0 0 / 15%);}
.family .together{font-size: 1.3rem; border-bottom: solid 1px #ccc; margin: 10% 30%; padding-bottom: 2%;}
.family .cursive{font-family: Chosunilbo_myungjo; font-weight: bold; font-size: .9rem;padding: 2% 0; margin-top: 8%; line-height: 25px;}
.family .movie{font-family: GmarketSansMedium; font-size:.7rem; font-weight: 100; margin-bottom: 8%;}
.family .quote{display: flex; justify-content: center;opacity: 70%; margin: 5% 0;}
.family .quote::after{content:''; font-size:0; display:block; width:16px; height:16px; background:url(../src/assets/img/quote.png)no-repeat;}
.family .quote.back::after{content:''; font-size:0; display:block; width:16px; height:16px; background:url(../src/assets/img/quote.png)no-repeat;  transform:rotate(180deg)}
.family .love{padding: 5% 10%; font-size: 1.1rem; line-height: 30px;margin-bottom: 10%;}
.family .intro{border-top: solid 1px #ccc; border-bottom: solid 1px #ccc; font-weight: bold; margin: 5%; padding:10%}
.family .parent{font-size: 1.4rem}
.family .parent .dot{margin: 0 2%}
.family .relation{font-size: 1rem; font-weight: bold; margin-left:5%}
.family .name{font-size: 1.4rem; margin-left:5%}

/* move */
.container .move {margin: 30% 0;}
.move{font-size: .9rem; font-weight: bold;}
.move span{font-size: .8rem;}
.move .boxWrap{display: flex; margin: 0 5%;}
.move .box{width: 35%;}
.move .last{width: 5%;}
.move .start{width: 5%;}
.move .grid .box{border-top: solid #ddd; border-bottom: solid #ddd; padding-bottom: 5%;}
.move .grid .last{border-right: solid #ddd; border-radius: 0 30px 30px 0;}

.move .box .time{display: flex; flex-direction: column; align-items: center; font-size: 1rem;}
.move .box .time::before{content:''; position: relative; margin-bottom: 5%; font-size:0; display:block; width:3px; height:10px; background: #ddd}
.move .box .open{opacity: 60%;}

/* account */
.container .account {margin: 20% 0;}
.account .accountBox{padding: 2% 5%;}
.account .accountBox button{font-weight: bold;}
.account button:active{background:#ccc; text-decoration:none; box-shadow:inset 0 0 0 3px #444;}
.account .button.arrow{width: 100%; display:flex; margin:0 auto; align-items:center; justify-content: center; position: relative; height: 40px; padding: 0 20px; border: none; border-radius: 10px; background: #fff; cursor: pointer; font-size: 1rem; box-shadow: 0 3px 3px rgb(0 0 0 / 10%); }
.account .button.arrow .iconDiv{margin-left: 10px;}
.account .button.arrow .icon::after{content:''; font-size:0; display:block; width:13px; height:8px; background:url(../src/assets/img/icon_arrowDown.svg)no-repeat;}

.accordionBox{padding:1px 10px ; border:none; border-radius: 10px; background-color: #f1f2f4;}

.accordion{display:flex; margin: 10px 0; padding: 10px; justify-content:space-between; align-items:center; border: none; border-radius: 10px; background: #fff; box-shadow: 0 3px 3px rgb(0 0 0 / 10%); }
.accordion .accordionInfo{display: flex; justify-content: left; font-size: 1rem; font-weight: bold; flex-direction: column; text-align: left;}
.accordion .accordionInfo .accountInfo{display: flex; padding: 0 0 5px 0}
.accordion .accordionInfo .bank{padding: 0 5px 0 0}

.accordion .buttonWrap{display:flex; flex-direction: column;  }
.accordion .buttonWrap button{border:none; cursor: pointer; font-size: 1rem; display: flex; width:70px; height:25px; font-weight: bold; border-radius: 15px; background-color: #f0f1f3; align-items:center; justify-content: center; margin:2px; padding:5px}
.accordion .buttonWrap span{font-weight: bold; font-size: .9rem;}
.accordion .buttonWrap button:hover {background:#f5f5f5; text-decoration:underline;}
.accordion .buttonWrap button:active {background:#ccc; text-decoration:none; box-shadow:inset 0 1px 1px #eee;}

.accordion .buttonWrap .complete{display:flex; align-items: center; justify-content: center; background-color: #fff; color: #3396ff; width: 70px; height: 25px; padding:2px}
.accordion .buttonWrap .kakao{background-color: #fbdf1d;}
.accordion .buttonWrap .kakao img{width:70px; height:15px; object-fit: contain;}

/* footer */
.footer{padding: 20px; background: #fff; box-shadow: 0 0 5px 5px rgb(0 0 0 / 2%); }
.footer .shared{display:flex; flex-direction: column;}
.footer .shared button{border:none; margin: 3px; color: #777; background: #fff; cursor: pointer; font-size: .8rem; }
.footer .copyright{font-size: .7rem; margin: 10px 0 0 0; color: #ccc}
.footer .copyright span{font-weight: bold; color: #aaa}


